---
title: "faq"
permalink: "/faq/"
layout: base.njk
---

<h1 class="d-flex justify-content-center">Work in progress</h1>

<section id="faq-section">
    {# {% for question in faq %}
    <h3>{{question.question}}</h3>
    <p>{{question.answer}}</p>
    {% endfor %} #}
</section>