---
title: "homepage"
permalink: "/"
layout: base.njk
---

<section id="hero">
    <div class="title">
        <h1>Welcome to Nibula</h1>
        <p>The boilerplate you need, simplified</p>
        <div class="hero-buttons">
            <a href="{{ '/docs/' | url }}" class="button generic-button">Get started</a>
        </div>
    </div>
</section>